<!--<nav-bar (navstatus)="OnNavBarClicked($event)"></nav-bar>
<div class="container-fluid">

  <ng-container *ngIf="navtoggle=='home' ">
    <div class="row light-shade">
      <div class="col-12" style="background-color: orange;" *ngIf="errorStatus">
        <h3>Important Message</h3>
        <p>
          <b>The site is experiencing following Problem<br>: {{errorMessage}}</b>
        </p>
      </div>
    </div>
    <cattle-mapview *ngIf="navtoggle=='home'"></cattle-mapview>
  </ng-container>
  <cattle-listing *ngIf="navtoggle=='listing'"></cattle-listing>

</div>
<div style="height:1rem;">
  &nbsp;
</div>
<nav-footer></nav-footer>-->
<div>
  <nav-bar (navstatus)="OnNavBarClicked($event)"></nav-bar>
</div>

<ng-container>
  <div *ngIf="navtoggle=='home' ">
    <cattle-mapview></cattle-mapview>
  </div>
</ng-container>
  <div class="mp-style" *ngIf="navtoggle=='listing' ">
    <cattle-listing></cattle-listing>
  </div>
<nav-footer></nav-footer>



